<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Местная Библиотека</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% load static %}
 <img
  src="{% static 'images/interier-biblioteki.jpg' %}"
  alt="interier-biblioteki"
  style="width:1000px;height:600px;"/>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
            <ul class="sidebar-nav">
               <ul class="sidebar-nav">
                    {% if user.is_authenticated %}
                   <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'my-borrowed' %}">Мои взятые книги</a></li>
                   <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти из аккаунта</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Войти в аккаунт</a></li>
                {% endif %}
                   {% if user.is_staff %}
                   <li><a href="{% url 'all-books' %}">Все взятые книги</a></li>
                   {% endif %}
            </ul>

                </ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'books' %}">Все книги</a></li>
              <li><a href="{% url 'authors' %}">Все Авторы</a></li>
            </ul>
          {% endblock %}


<!-- БЛОК КОНТЕНТА, НИЖЕ ВСТАВЛЕН БЛОК ДЛЯ ПОСТРАНИЧНОГО ВЫВОДА!!! -->

          <!--СИМВОЛЫ ДЛЯ КОММЕНТАРИЕВ -->

        </div>
        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
        {% block pagination %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}
      </div>
    </div>
  </body>
</html>
