{% extends "base_generic.html" %}

{% block content %}
  <h1>Авторы: {{ Авторы }}</h1>

  <p><strong>Имя:</strong> {{ author.first_name }}</p>
  <p><strong>Фамилия:</strong> {{author.last_name}}</p>
  <p><strong>Дата Рождения:</strong> {{author.date_of_birth}}</p>
  <p><strong>Дата Смерти:</strong> {{author.date_of_death}}</p>


  <div style="margin-left:20px;margin-top:20px">
    <h4>Книги</h4>

    {% for book in author.book_set.all %}
     <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
      </li>
      {% endfor %}

{% endblock %}
